.score-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-table th, .score-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.score-table th {
    background-color: #007bff;
    color: #fff;
}

.score-table td {
    background-color: #f7f7f7;
}

.score-table tr:nth-child(even) {
    background-color: #e0e0e0;
}

.score-table tr:hover {
    background-color: #d3d3d3;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px; /* Adjust the margin as needed */
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
