<div id="welcome-container">
    <h1>Welcome {{user.name}}</h1>
    <p>This quiz contains a total of 5 questions, with each question worth 10 points.</p>
    <h4>Rules:</h4>
    <ul>
        <li>Correct answers will earn you 10 points</li>
        <li>Incorrect answers will not add any points</li>
        <li>Refreshing the page will reset the test</li>
    </ul>
    <h1>All the best</h1>
    <div id="start-button">
        <button routerLink="/question"><b>Start the Quiz</b></button>
    </div>
</div>
