img {
    width: 25mm;
    height: 25mm;
    margin-right: 310mm;
    margin-top: 2mm;
}

div {
    height: 30mm;
    background-color: #f7f7f7; /* Match the background color of the forms */
    text-align: center; /* Center the content horizontally */
}

#heading {
    font-size: 15mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #007bff; /* Match the button background color of the forms */
    position: relative;
    bottom: 33mm;
}
